
.img{
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
form
{
border-radius: 10px;
display: flex;
flex-direction: column;
background: rgba(0, 0, 0, 0.1);
box-shadow: 0 0 10px rgba(0, 0, 0, 1);
width: auto;
padding: 50px;
margin-top: 120px;
height: auto;
}
input{
outline: none;
height: 40px;
}
.text{
font-style: italic;
}
.al{
    background: none;
    outline: none;
    border: none;
}

/* @media (max-width:375px){
    .media-query{
        display: flex !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

}
/* #btn{
    border-radius: 50px;
    border: none;
    background-color: #FFC107;
    font-family: 'Oswald', sans-serif;
    width: 200px;
} */
#btn{
    border-radius: 50px;
    border: none;
    background-color: #FFC107;
    width: 175px;
    margin-top: 10px;
    height: 40px;
    font-size: x-large;
    user-select: none;



}


.h8{
    font-family: REM', sans-serif';
}
.h7{

    font-family: 'Fira Sans', sans-serif;
}
#read{
    background-image: url('/assest/img/wallpaper.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 98vh; 
    width: 99%;
}
